{% load static %}
<div class="players-nav-bar w-container">
  <a href="{% url 'core:home' %}"><img src="{% static '/project-static/images/Battlesuite.png' %}" loading="lazy" width="145" alt=""></a>
  <a href="{% url 'core:home' %}" class="live-streams-menu w-inline-block"><img src="{% static '/project-static/images/Vector.png' %}" loading="lazy" width="18" alt=""></a>
<!--  <a href="{% url 'core:tournament_redirect' %}" class="w-inline-block"><img src="{% static '/project-static/images/mdi_tournament.png' %}" loading="lazy" width="25" alt="" class="tournament-icon"></a>-->
    <a href="{% url 'accounts:user_register' %}" class="profile-menu w-inline-block">
      
      {% if request.user.is_authenticated %} 
        {% if request.user.mainuser.profile_pic %}
        <img src="{{request.user.mainuser.profile_pic.url}}" loading="lazy" width="34" alt="" class="image-12">
        {% else %}
        <img src="{% static '/project-static/images/Ellipse-77.png' %}" loading="lazy" width="34" alt="" class="image-12">
        {% endif %} 
      {% else %}
        <img src="{% static '/project-static/images/Ellipse-77.png' %}" loading="lazy" width="34" alt="" class="image-12">
      {% endif %}
        
    </a>
  </div>