{% extends '../base/base.html' %}
{% load static %}

{% block title %}
  User Login
{% endblock title %}
  
{% block content %} 
<body>
  <div class="player-menu">
    {% include 'base/navbar.html' %}
  </div>
  <div class="section-10">
    <div class="w-container">
      <div class="div-block-34">
        <div id="w-node-17885fbe9fbd-da7ad038" class="div-block-35 circle-image">
            
            {% if request.user.mainuser.profile_pic %}
                <img src="{{request.user.mainuser.profile_pic.url}}" alt="">
            {% endif %} 
          <h2 class="profile-name">{{request.user.username}}</h2>
          
          {% if request.user.mainuser.pro_status %}
            <a href="{% url 'core:follow_community' %}" class="bap-button w-button">Access Pro</a>
          {% else %}
            <a id="modal_button" class="bap-button w-button" onclick="modalshow()">Become a pro</a> 
            <div id="editteam_modal" class="modal" style="display:none;"> 
              <div class="modal-content"> 
                  <div class="modal-header">
                    <span class="close">&times;</span><h2>Update Player Profile</h2>
                  </div>
                  <div class="modal-body"> 
                    <h2>Become a pro</h2>
                     <p>want to start hosting your own tournament with friends and family<br>with our automating bracket system. Feel free to join the side. <a href="/terms-and-condition">Terms and Condition</a></p> 
                  </div> 
                  <div class="modal-footer" style="margin-left: 16px;"> 
                    <ul>
                      <li><a href="{% url 'accounts:pro_status' 'xbox' %}">Agreed</a></li>
                      <li><a href="">Cancel</a></li>
                    </ul>
                  </div>
                </form>
              </div> 
            </div> 

          {% endif %}
              
          
        </div>
        <div id="w-node-fdac5a680b22-da7ad038"><a href="{% url 'accounts:logout' %}" class="w-inline-block"><img src="{% static '/project-static/images/carbon_logout.png' %}" loading="lazy" width="44" alt="" class="setting-icon"></a></div>
      </div>
      <div>
        <h4 class="heading-18">Subscriptions</h4>
      </div>
    </div>
    <div data-animation="slide" data-hide-arrows="1" data-duration="500" data-infinite="1" class="slider-2 w-slider">
      <div class="w-slider-mask">
          {% for sub_group in subscriptions %}
            <div class="w-slide">
              <div class="w-container">
                <div class="div-block-36">
                    {% for sub in sub_group %}
                        <div class="block{{ forloop.counter }}"><img src="{{ sub.team.logo.url }}" loading="lazy" width="100px" height="100px" class="teamsbscrb-logo"><a href="{% url 'core:team_viewer_page' team_pk=sub.team.pk %}" class="teamname">{{ sub.team.name }}</a></div>
                    {% endfor %}
                 </div>
              </div>
            </div>
          {% endfor %}
      </div>
      <div class="left-arrow-4 w-slider-arrow-left"><img src="{% static '/project-static/images/bi_arrow-right-circle-fill.png' %}" loading="lazy" width="35" alt="" class="image-20"></div>
      <div class="right-arrow-4 w-slider-arrow-right"><img src="{% static '/project-static/images/bi_arrow-right-circle-fill.png' %}" loading="lazy" width="35" alt=""></div>
      <div class="slide-nav-5 w-slider-nav w-round"></div>
    </div>
  </div>
  {% endblock content %}
  
  {% block script %}
    <script>
      function modalshow(){ 

        var modal = document.getElementById('editteam_modal'); 
        modal.style.display = "block";
        var btn = document.getElementById('modal_button'); 
        var span = document.getElementsByClassName('close')[0];
        btn.onclick = function() {
          modal.style.display = "block";
        } 
        span.onclick = function() {
          modal.style.display = "none";
        } 
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
      }
    </script>
  {% endblock script %}
    