input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

.custom_usercreate_form p {
    color: rgba(130, 52, 224, 0.6);
    font-weight: 700;
}

.preview_image img#output {
    width: 250px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.single_form {
    margin-bottom: 15px;
}

.preview_image {
    text-align: center;
    margin: 0 auto;
}

input[type=submit] {
    background-color: #3898EC;
    color: #fff;
}

.smal-button {
    width: 200px;
}

.error_msg p {
    color: green;
}

.circle-image img {
    border-radius: 500px;
    width: 200px;
    height: 200px;
}

.w-container.community_area {
    overflow: hidden;
}

.single_community {
    float: left;
    width: 20%;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.single_community a {
    text-decoration: none;
}

.single_community img {
    border-radius: 8px;
    height: 200px;
    width: auto !important;
}

.single_community h4 {
    margin-bottom: 0;
    line-height: 1.1;
}

.single_community p {
    color: rgba(88, 30, 233, 0.6);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    padding: 3px;
    cursor: pointer;
}

.single_community p:hover {
    color: burlywood;
}

.single_community p#following {
    color: burlywood;
    cursor: not-allowed;
}

body .desc {
    margin-bottom: 0px;
    padding: 10px 15px;
}

.post-section img {
    width: 310px;
    height: auto;
}

.single_form {
    width: 100%;
}

.image-49 {
    width: 280px;
    height: auto;
}

.share_submit {
    width: 200px;
    margin: 15px auto 30px;
    cursor: pointer;
}

.signup_area {
    overflow: hidden;
}

.google_signup {
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 2%;
    margin: 10px 0;
}

.google_signup img {
    width: 70px;
    height: auto;
}

.google_signup span {
    padding-right: 10px;
}

.facebook_signup {
    float: left;
    width: 50%;
    margin: 10px 0;
}

.facebook_signup img {
    height: 60px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.facebook_signup span {
    padding-left: 27px;
}

.custom_form {
    display: block;
    width: 75%;
}

.custom_form input {
    float: left;
    width: 70%;
}

.custom_form input[type='submit'] {
    width: 28%;
    margin-left: 2%;
}

.container-39.w-container.comment_page_area {
    width: 700px;
}

.single_comment {
    overflow: hidden;
    padding: 5px 5px;
    background: #f0f0f0;
}

.single_comment:nth-child(even) {
    background: #fafafa;
}

.comment_user {
    float: left;
    width: 9%;
    text-align: center;
}

.comment_user img {
    width: 60px;
    border-radius: 42px;
    height: 60px;
}

.owl-dots {
    display: none !important;
}

.user_comment_text {
    float: left;
    width: 90%;
    margin-left: 1%;
    border-radius: 5px;
    padding: 8px;
}

.user_comment_text h2 {
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    line-height: 1.1;
    color: #8782eb;
    padding-bottom: 5px;
}

.user_comment_text p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.3;
}

.user_comment_text span {
    font-size: 12px;
    line-height: 1;
    font-style: italic;
    color: green;
    font-weight: 400s;
}

.comment_image img {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
}

.comment_image {
    background: #f0f0f0;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.comment_image p {
    background: #fff;
    padding: 15px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 4px;
}

.recommendation-box.comment_boxs a {
    margin-right: 15px;
    text-decoration: none;
    color: rgba(62, 8, 255, 0.43);
}

.recommendation-box.comment_boxs .like_icon {
    color: rgba(62, 8, 255, 0.43);
    cursor: pointer;
}

.recommendation-box.comment_boxs h6 {
    font-size: 14px;
    font-weight: 400;
}

.go_back {
    color: rgba(62, 8, 255, 0.43);
    text-decoration: none;
}

.forum_info p {
    display: inline-block;
    color: #555;
    padding-right: 20px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 4px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: transparent;
    color: #333;
}

.modal-body {
    padding: 2px 16px;
}

.user_comment_text .edit_button {
    background: transparent;
    font-size: 14px;
    color: #555;
    display: inline-block;
    vertical-align: bottom;
}

.user_comment_text .edit_button i:hover {
    color: rgba(62, 8, 255, 0.43);
}

.user_comment_text .edit_button i {
    padding: 2px 2px;
    transition: all 0.5s;
}


.modal-header span {
    color: green;
    margin-top: 7px;
    font-size: 20px;
}

.modal-header h2 {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 6px;
    color: #444;
}

.modal-footer {
    margin-bottom: 15px;
    margin-top: 5px;
    display: block;
    overflow: hidden;
}

.modal-footer input {
    width: 120px;
    margin-left: 15px;
    float: left;
    display: inline-block;
    height: 38px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.modal-footer a {
    display: inline-block;
    background: green;
    padding: 9px;
    float: left;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    margin-top: 0px;
    height: 38px;
    width: 120px;
    text-align: center;
    margin-left: 5px;
    border-radius: 3px;
}

.following_community_area {
    margin-top: 40px;
}

.following_community_area .owl-dots {
    display: none;
}

.following_community_area .w-container.community_area {
    overflow: unset;
}

.following_community_area button span, .friends_slider_area button span {
    font-size: 25px;
    width: 30px;
    height: 30px;
    display: block;
    border: 2px solid #333;
    border-radius: 40px;
    padding: 0px;
}

.following_community_area button.owl-prev, .friends_slider_area button.owl-prev {
    position: absolute;
    top: 30%;
    left: -40px;
    z-index: 9999;
}

.following_community_area button.owl-next, .friends_slider_area button.owl-next {
    position: absolute;
    top: 30%;
    right: -40px;
    z-index: 9999;
}

.community-name a {
    font-weight: 400;
    color: #8782eb;
    text-decoration: none;
}

ul.ui-menu {
    max-height: 230px;
    overflow: auto;
}

.w-container.share_button input {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.w-container.share_button {
    text-align: center;
}

.single_form.add_content_form {
    width: 80%;
    margin: 0 auto;
}

.file_input {
    background-image: url(/static/project-static/images/carbon_add-alt.png);
    width: 70px;
    height: 70px;
    margin: 0 auto 10px;

}

.file_input input {
    opacity: 0;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.preview_image h5 {
    margin-bottom: 0;
}

.single_frined {
    text-align: center;
}

.friend_image {
    width: 130px;
    height: 130px;
    border-radius: 150px;
    overflow: hidden;
    background-color: #ddd;
    border: 2px solid #ddd;
    text-align: center;
    margin: 0 auto;
}

.single_frined a {
    text-decoration: none;
}

.single_frined p {
    font-size: 18px;
    font-weight: bold;
    color: rgba(88, 30, 233, 0.6);
    margin-top: 10px;
    text-decoration: none;
}

body .profile-menu.w-inline-block {
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: block;
    border-radius: 500px;
}

.image-12 {
    border-radius: 200px;
    width: 35px;
    border: 2px solid rgba(35, 31, 226, 0.88);
    height: 35px;
}

body .container-12 {
    top: 0
}

.team_background_image p {
    font-size: 20px;
    color: rgba(83, 50, 233, 0.59);
}

.team_background_image {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    display: block;
    text-align: center;
}

.hash_list {
    overflow: hidden;
}

.single_tags {
    float: left;
    width: 20%;
}

.single_tags input {
    float: left;
    width: 20px;
    margin-right: 3px;
    margin-top: 4px;
}

.team_input {
    width: 350px;
    text-align: center;
}

.team_input input {
    display: block;
    margin-bottom: 15px;
}

.team_input button {
    background: rgba(83, 50, 233, 0.59);
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    line-height: 1;
    border-radius: 5px;
    width: 100px;
    margin-bottom: 20px;
}

.owl-dots {
    display: none !important;
}

.single_frined.team_create_friend p {
    font-size: 16px;
    margin-bottom: 5px;
}

.single_frined.team_create_friend label p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
}

.alert {
    overflow: hidden;
    background-color: #bbb;
    color: white;
    margin-bottom: 2px;
    border-radius: 3px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


.alert span.closebtn {
    padding: 18px;
    float: right;
    width: 10%;
    text-align: right;
}

.alert a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    width: 85%;
    padding: 18px;
    float: left;
}

.alert a span {
    color: green;
    font-size: 12px;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.notification_area {
    padding: 30px 0 50px;
}

.notification_area h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    color: rgba(83, 50, 233, 0.59);
}

.alert.viewd {
    background: #ccc;
}

.slider_titles {
    color: #a493f1;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.notification-details {
    background: #eee;
    padding: 20px 30px 34px;
    border-radius: 5px;
}

.notification_message {
    overflow: hidden;
}

.blue_bg_teamplayer.team-background {
    background-color: blue;
    background-image: none;
}

.friends_slider_area input {
    width: 60%;
    margin-bottom: 20px;
    border-radius: 50px;
}

.div-block-80 {
    position: relative;
    width: 20px;
    height: 20px;
}

.div-block-80:hover a {
    opacity: 1;
    top: 19px;
    z-index: 999;
}

.div-block-80 a {
    position: absolute;
    top: 15px;
    left: 0;
    width: 200px;
    background: green;
    z-index: 9999;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    padding: 9px;
    color: #fff;
    z-index: -999;
    opacity: 0;
    transition: all 0.5s;
}

.modal-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.modal-footer ul li {
    display: inline;
    list-style: none;
}

.modal-footer ul li a {
    display: inline-block;
    background: green;
    color: #fff;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
}

.streambutton {
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    margin-left: 30%;
    margin-top: 30%;
    position: absolute;
    width: 150px;

}

