<div class="div-block-148">
    <div class="team1-box"><img src="{{ user_game_team.team.logo.url }}" loading="lazy"
                                class="team_logo_small">
        <h5 class="score">{{ user_game_team.points }}</h5>
    </div>
    <div class="veersus-box">
        <h5 class="heading-89">VS</h5>
    </div>
    <div class="team-2-box"><img src="{{ enemy_game_team.team.logo.url }}" loading="lazy"
                                 class="team_logo_small">
        <h5 class="score">{{ enemy_game_team.points }}</h5>
    </div>
</div>