{% extends "base/base.html" %}
{% load static %}
{% block content %}
    <meta http-equiv="refresh" content="5">
<link href="{% static '/project-static/css/materialize.css' %}" rel="stylesheet" type="text/css">
    <body class="body-4">
    <div class="row">
        <div class="col s12 center-align"><img src="{% static 'project-static/images/Battlesuite.png' %}" loading="lazy"
                                               width="404" alt=""></div>
    </div>
    <div class="section-22">
        <div class="w-container">
            <h4 class="heading-81">Waiting for all members of tournament to join...</h4>
        </div>
    </div>
    <div class="row container" style="padding-top: 5%">
        <div class="col s4 center-align">
            <div id="w-node-821c54a9ad85-a3c3d2e8" class="team-box"><img src="{{ teamA.logo.url }}" loading="lazy"
                                                                         class="team_logo_large">
                <h3 class="teeam-name">{{ teamA.name }}</h3>
            </div>
        </div>
        <div class="col s4 center-align">
            <h1 class="heading-83">VS</h1>
        </div>

        <div class="col s4 center-align">
            <div id="w-node-4666ca306b98-a3c3d2e8" class="team-box"><img src="{{ teamB.logo.url }}" loading="lazy"
                                                                         class="team_logo_large">
                <h3 class="teeam-name">{{ teamB.name }}</h3>
            </div>
        </div>

    </div>
    <!-- [if lte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
    <![endif] -->
    <script src="{% static '/project-static/js/materialize.js' %}" type="text/javascript"></script>
{% endblock %}