{% extends '../base/base.html' %}
{% load static %}
{% load extra_tags %}
{% block title %}Team Details{% endblock title %}
{% block content %}
  <div class="section-11">
  <div class="menu-section">
    {% include 'base/navbar.html' %}
  </div>

    <div class="team-background" style="background-image:url({{ team.background_image.url }})"></div>
    <div class="container-12 w-container">
        <div id="w-node-fb9ce5552c4c-d514f07c" class="matches-stats-block"><img
                src="{% static '/project-static/images/bx_bx-medal.png' %}" loading="lazy" width="39" alt=""
                class="matches-medalion">
            <div class="winning m">{{ number_of_game_wins }}</div>
        </div>
        <div class="teamlogo-block"><img style="margin-top:-50px;width:110px; height:110px" src="{{ team.logo.url }}"
                                         loading="lazy" width="103" alt="" class="teamlogo"></div>
        <div class="tounament-stats">
            <div class="winning t">{{ number_of_tournament_wins }}</div>
            <img src="{% static '/project-static/images/Vector-1.png' %}" loading="lazy" width="33" alt=""
                 class="tournament-champion"></div>
    </div>
    <div class="more-about-team-container w-container">
      <div class="div-block-41">
        <div class="div-block-43">
                <h4 class="tname">{{ team.name }}</h4>
            </div>
            <div class="hashtags-block">
                {% for tag in team.hastag.all %}
                    <a href="" class="hashtags">#{{ tag }}</a>
                {% endfor %}
            </div><div>

            <div>
                <h6 class="admin-name">{{ team.admin.username }}</h6>
            </div>
        </div>
        <div class="subscribe-block"><a href="#" onclick="subscribe()" class="w-inline-block"><img id="bell" src="{% if subscribed %}{% static 'project-static/images/bi_bell-2.png' %}{% else %}{% static 'project-static/images/bi_bell-1.png' %}{% endif %}" loading="lazy" width="36" alt="" class="subcribe-icon"></a>
          <div id="num_of_subs" class="subscribers">{{ number_of_subs }}</div>
        </div>
      </div>
    </div>
    <div class="label-container w-container">
      <h4 class="team-member">Team Members</h4>
    </div>
    <div class="friends_slider_area">
        <div class="friend_slider owl-carousel container" style="width:900px">
            {% if team.team_member.all %}
                {% for member in team.team_member.all %}
                    <div class="single_frined team_create_friend item">
                        <div class="friend_image">
                            <img src="{{ member.mainuser.profile_pic.url }}" alt="">
                        </div>
                        <p>{{ member }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p style="display:block; width: 800px; margin: 0 auto;">No Team member in this team</p>
            {% endif %}
        </div>
    </div>
    <div class="container-17 w-container">
        <h4 class="heading-25">Recent Matches</h4>
    </div></div>
    <div data-animation="slide" data-hide-arrows="1" data-duration="500" data-infinite="1" class="slider-4 w-slider">
        <div class="w-slider-mask">
            <div class="w-slide">
                {% for prev_game_group in prev_games %}
                    <div class="container-16 w-container">
                    {% for prev_game in prev_game_group %}
                        <div id="{{ prev_game.1 }}" class="div-block-50">
                            <a href="#" class="team-block w-inline-block">
                                <h4 class="tn">{{ prev_game.0.teamA.name }}</h4><img
                                    src="{{ prev_game.0.teamA.logo.url }}"
                                    loading="lazy" width="46px" height="46px" alt="" class="tl">
                                <h5 class="tn">{{ prev_game.0.points_teamA}}</h5>
                            </a>
                            <a href="#" class="team-block w-inline-block">
                                <h4 class="tn">{{ prev_game.0.teamB.name }}</h4><img
                                    src="{{ prev_game.0.teamB.logo.url }}" loading="lazy" width="46px" height="46px"
                                    alt="" class="tl">
                                <h5 class="tn">{{ prev_game.0.points_teamB}}</h5>
                            </a>
                        </div>
                    {% endfor %}
                {% endfor %}
                </div>

            </div>
            <div class="left-arrow-6 w-slider-arrow-left"><img
                    src="{% static '/project-static/images/bi_arrow-right-circle-fill.png' %}" loading="lazy" alt=""
                    class="image-27"></div>
            <div class="right-arrow-6 w-slider-arrow-right"><img
                    src="{% static '/project-static/images/bi_arrow-right-circle-fill.png' %}" loading="lazy" alt="">
            </div>
            <div class="slide-nav-7 w-slider-nav w-slider-nav-invert w-shadow w-round"></div>
        </div>

    </div></div>
</body>

{% endblock content %}

{% block script %}
    <script>

        function subscribe(){
            $.ajax({
            url: "{% url 'core:subscribe_to_team' %}",
            type: "GET",
            data: {
                user_pk: {{ user.pk }},
                team_pk: {{ team.pk }},
            },
            cache: false,
            dataType: "json",
            success: function (data) {
                if (data.status == "unsubbed"){
                    document.getElementById("bell").src = "{% static 'project-static/images/bi_bell-1.png' %}"
                }
                else if (data.status == "subbed"){
                    document.getElementById("bell").src = "{% static 'project-static/images/bi_bell-2.png' %}"
                }
                document.getElementById("num_of_subs").textContent = data.num_of_subs
            }
        });
        }

        // Modal Javascrpt
        function modalshow() {
            // Get the modal

            var modal = document.getElementById('editteam_modal');
            modal.style.display = "block";
            var btn = document.getElementById('modal_button');
            var span = document.getElementsByClassName('close')[0];
            btn.onclick = function () {
                modal.style.display = "block";
            }
            span.onclick = function () {
                modal.style.display = "none";
            }
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        $(document).ready(function () {

            $('.friend_slider.owl-carousel').owlCarousel({
                loop: false,
                margin: 10,
                nav: true,
                autoplay: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            })

        });
    </script>
{% endblock script %}